<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
<link rel='stylesheet'href='/stylesheets/style.css'>

</head>
<body>

<h1>Welcome to my profile</h1>
<h2>Bio</h2>
<h3>Photo Album</h3>
<h4>Story</h4>
<p>Activity</p>
<a href="/author"><i class="fa fa-fw fa-table"></i>Timeline</a>

</body>
</html> 
