<!DOCTYPE html>
<html>
<head>
<title>Neetu</title>
<link rel='stylesheet'href='/stylesheets/style.css'>

</head>
<body>

<h1>Sumaiya Sajnin</h1>
<h2>Student of RPSU</h2>
<h3>Batch:06</h3>
<h4>Id No:16100112</h4>
<h5>Phone No:019********</h5>
<p>Address:Narayanganj</p>
<a href="/profile"><i class="fa fa-fw fa-table"></i>Profile</a>

</body>
</html> 
