<!DOCTYPE html>
<html>
<head>
<title>Timeline</title>
<link rel='stylesheet'href='/stylesheets/style.css'>

</head>
<body>
<h1>Name<%= myName %></h1>
<p>Student</p>
<a href="/time"><i class="fa fa-fw fa-table"></i>Story</a>

</body>
</html> 
